.filter {
}

.filter .tags {
	font-size: 9pt;
	
	text-align: center;
	
	background-image: url("/_static/gd2.png");
	padding: 4pt;
	
	border-radius: 0.2em;
}

.filter .tags a {
	text-decoration: none;
	
	display: inline-block;
	
	padding: 0.4em;
	margin: 0.5em 0.2em 0.5em;
	min-width: 8em;
	
	background-image: url("/_static/gd2-small.png");
	
	border: 1px solid #999;
	
	border-radius: 0.2em;
}

.filter .tags a:hover {
	background-image: url("/_static/gd2-small-hover.png");
}

.filter .tags a.selected {
	background-image: url("/_static/gd2-small-inset.png");
	color: white;
}

ul.projects {
	padding: 0;
}

.projects li {
	list-style: none;
	vertical-align: middle;
	
	margin: 0;
	padding: 10pt 0 10pt 0;
	
	width: 100%;
}

.projects li .description {
	clear: both;
}

.projects .title a {
	font-size: 14pt;
	text-decoration: none;
}

.title .tags {
	float: right;
}

.title .tag {
	border: 1px solid #ccf;
	border-radius: 0.5em;
	
	box-shadow: 0 0 2px #eee;
	
	background-color: white;
	padding: 1pt 3pt 1pt 3pt;
	margin: 1pt;
	font-size: 10pt;
}

.title .tag.javascript, .title .tag.ruby, .title .tag.cpp, .title .tag.objective-c, .title .tag.kai {
	border-color: #FF8C00;
	box-shadow: 0 0 2px #FF8C00;
	color: #FF8C00;
}

.title .tag.cocoa, .title .tag.jquery, .title .tag.rack, .title .tag.opengl {
	border-color: #1E90FF;
	box-shadow: 0 0 2px #1E90FF;
	color: #1E90FF;
}

.title .tag.commercial, .title .tag.educational, .title .tag.open, .title .tag.research {
	border-color: #008000;
	box-shadow: 0 0 2px #008000;
	color: #008000;
}

.title .tag.website, .title .tag.framework, .title .tag.application, .title .tag.command-line, .title .tag.language {
	border-color: #6A5ACD;
	box-shadow: 0 0 2px #6A5ACD;
	color: #6A5ACD;	
}