.filter {
}

.filter .tags {
	font-size: 9pt;
	
	text-align: center;
	
	background-image: url("/_static/gd2.png");
	padding: 0.2em;
	
	border-radius: 0.2em;
}

.filter .tags a {
	text-decoration: none;
	
	display: inline-block;
	
	padding: 0.4em;
	margin: 0.5em 0.2em 0.5em;
	min-width: 6em;
	
	background-image: url("/_static/gd2-small.png");
	
	border: 1px solid #999;
	
	border-radius: 0.2em;
}

.filter .tags a:hover {
	background-image: url("/_static/gd2-small-hover.png");
}

.filter .tags a.selected {
	background-image: url("/_static/gd2-small-inset.png");
	color: white;
}

ul.projects {
	padding: 0;
}

.projects li {
	list-style: none;
	vertical-align: middle;
	
	margin: 0;
	padding: 10pt 0 10pt 0;
	
	width: 100%;
}

.projects .title a {
	font-size: 14pt;
	text-decoration: none;
}

.title .tags {
	float: right;
}

.title .tag {
	border: 1px solid #ccf;
	border-radius: 0.5em;
	
	box-shadow: 0 0 2px #eee;
	
	background-color: white;
	padding: 1pt 3pt 1pt 3pt;
	margin: 1pt;
	font-size: 10pt;
}

.title .tag.javascript, .title .tag.ruby, .title .tag.cpp, .title .tag.objective-c {
	border-color: orange;
	box-shadow: 0 0 2px orange;
	color: orange;
}

.title .tag.cocoa, .title .tag.jquery, .title .tag.rack, .title .tag.opengl {
	border-color: DodgerBlue;
	box-shadow: 0 0 2px DodgerBlue;
	color: DodgerBlue;
}

.title .tag.server {
	border-color: purple;
	box-shadow: 0 0 2px purple;
	color: purple;
}

.title .tag.commercial, .title .tag.education {
	border-color: green;
	box-shadow: 0 0 2px green;
	color: green;
}

.title .tag.commercial {
	border-color: green;
	box-shadow: 0 0 2px green;
	color: green;
}

.title .tag.online {
	border-color: LimeGreen;
	box-shadow: 0 0 2px LimeGreen;
	color: LimeGreen;	
}