
.resume h2 {
	font-variant: small-caps;
}

/* Definition list layout */
.resume dl.itemized dt {
	font-weight: bold;
}

.resume dl.compact dt {
	font-weight: bold;
	display: inline;
}

.resume dl.compact dd {
	display: inline;
	margin-left: 0;
}
