
body {
	min-width: 740px;
	
	background-color: #333;
	
	background-attachment: fixed;
	color: #000;
	
	font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	margin: 5pt;
}

p {
	margin: 5pt 5pt;
}

a {
	color: #3456ef;
	text-decoration: none;
}

a:hover {
	color: #2345ef;
}

#content {
	box-shadow: 0px -2px 8px black;
	
	background-color: #fdfdfd;
	margin: 5pt;
}

#content.normal {
	padding: 20pt;
}

#content h1, #content h2, #content h3, #content h4 {
	font-weight: normal;
	color: #222;
	text-shadow: 2px 2px 2px #eee;
}

#content h1 {
	margin-top: 0;
	font-size: 30pt;
}

#content h2 {
	font-size: 15pt;
	
	padding: 0.5em 0.8em;
	margin: 6em 0 2em;
	
	color: #333;
	background-color: #eee;
	letter-spacing: 0.12em;
	
	background-color: white;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

#content h3 {
	font-size: 14pt;
	margin-top: 40pt;
	margin-bottom: 8pt;

	border-bottom: 1px solid #ccc;
}

#content h4 {
	font-size: 13pt;
	margin-top: 40pt;
	margin-bottom: 8pt;
}

#content h2 + p, #content h3 + p {
	margin-top: 0;
}

#footer {
	clear: both;
	
	text-align: center;
	font-size: 11px;
	color: white;
	
	padding: 20px;
}

#footer a {
	color: white;
}

.syntax-container {
	font-size: 90%;
}

.navigation {
	font-size: 10pt;
	clear: both;
	
	margin: 10pt 0 10pt 0;
}

.logo {
	text-align: center;
}

.navigation .prev_link {
	float: left;
}

.navigation .next_link {
	float: right;
}

.heading {
	text-align: center;
	margin: 20pt 0 40pt 0;
	padding: 20pt 4pt;
	
	background-color: white;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.heading h1 {
	margin-top: 0;
}

.heading strong {
	font-weight: normal;
	color: #00a;
}

.heading small {
	margin: 20px;
	white-space: nowrap;
}

dl.basic {
	padding: 5px;
}

li {
	margin: 4px;
}

dl.basic dt {
	text-decoration: underline;
	padding-top: 4px;
}

dl.basic dd {
	padding: 4px;
}

p, dl.basic dt {
	margin-top: 15pt;
}

p, li, dt, dd {
	line-height: 160%;
}

dl.options {
	padding-top: 0.5em;
	margin: 0;
	
	/* background: rgba(230, 230, 230, 0.25);
	border: 1px solid #ccc; */
}

dl.options dt {
	color: #900;
	
	float: left;
	clear: both;
	
	width: 14%;
	text-align: right;
	
	padding: 0 0.5em 0.5em 0.5em;
}

dl.options dd {
	margin: 0 0 0.5em 16%;
	padding: 0 4pt;
}

dl.options dd + dd {
	margin-top: 0.5em;
}

dl.options dd.container {
	border-left: 1px solid #ccc;
}

dl.options dd.container p {
	margin-top: 0;
	margin-bottom: 0;
}

#entry {
	padding-bottom: 80px;
	font-size: 12pt;
}

img {
	border: none;
}

table.basic {
	border-collapse: collapse;
	margin: auto;
	width: 90%;
}

table th {
	font-weight: inherit;
}

table.basic thead th, table.basic tfoot th {
	font-family: "Lucida Grande", Sans-Serif;
	font-size: 12pt;
	text-align: left;
	color: #003399;
}

table.basic thead th {
	border-bottom: 2px solid #6678b2;
	padding: 10px 8px;
}

table.basic tfoot th {
	border-bottom: 2px solid #6678b2;
	padding: 10px 8px;
}


table.basic tbody th,
table.basic tbody td {
	border: none;
	font-size: .9em;
	padding: 9px 8px 0px 8px;
	color: #666699
}

table.basic tbody th {
	text-align: left;
	text-decoration: underline;
	padding-top: 12px;
}

table.basic tbody tr:hover td {
	color: #000;
	text-shadow: #aaa 1px 1px 2px;
}

table.data th {
	background-color: #e0e0e0;
	padding: 4px;
}

table.data {
	background-color: #fff;
	border: 1px solid black;
	
	margin: auto;
	text-align: center;
}

table.data td {
	padding: 4px;
}

code.basic {
	display: block;
}

pre.code, code.basic {
	/* border: 2px solid #ccc;
	border-left: 2px solid #333; */
	margin: 10px;
	padding: 2px;
	padding-left: 10px;
	background-color: #404040;
	color: #d0d0d0;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.gallery {
	text-align: center;
	padding: 5px;
}

.gallery .photo_thumbnail img {
	-moz-box-shadow: 4px 4px 8px #888;
	-webkit-box-shadow: 4px 4px 8px #888;
	box-shadow: 4px 4px 8px #888;
}

.gallery .photo_thumbnail, .gallery .thumbnail {
	display: inline-block;
	vertical-align: middle;
}

.gallery img {
	margin: 10px 10px 5px;
}

.gallery .photo_thumbnail {
	width: 320px;
}

.gallery .photo_thumbnail, .gallery .thumbnail {
	margin: 0.5em;
}

.gallery .caption {
	font-size: 10pt;
}

#comments form {
	background-color: white;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);

	padding: 5px;
	margin: 5px;
}

#comments .comment .byline {
	color: #333;
	font-size: 9pt;
	padding: 4px;
	
	position: relative;
}

#comments .comment .moderation {
	text-align: center;
	padding: 5px;
}

#comments .comment .byline .posted_on {
	color: #999;
	float: right;
}

#comments .comment .text {
	margin-top: 28px;
}

#comments .comment .icon {
	margin: 0px 20px 5px 10px;
	float: left;
}

#comments .comment .body {
	margin: 2px;
	border-top: 1px solid #ccc;
}

#comments .comment, .about-me {
	background-color: white;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
	
	margin: 5px;
	padding: 5px;
}

form.basic dd.icons img {
	margin: 3px;
	width: 32px;
	height: 32px;
}

form.basic dd.icons {
	clear: both;
	text-align: center;
}

form.basic dd.icons .selected {
	border: 3px solid #FFCC00;
	margin: 0;
}

form.basic fieldset {
	margin: auto;
	border: none;
	font-size: 16pt;
	padding: 10px;
}

form.basic dl {
	margin: 0px;
}

form.basic dl dt,
form.basic dl dd {
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 10px;
	line-height: 1.0em;
}

form.basic dl dt {
	clear: both;
	font-size: 12pt;
	display: block;
	float: left;
	text-align: right;
	width: 28%;
}

form.basic dl dt {
	text-decoration: none;
}

form.basic dl dt label {
	-text-decoration: underline;
}

form.basic dl dt small {
	text-decoration: none;
	font-size: 8pt;
	display: block;
}

form.basic dl dd {
	float: right;
	width: 70%;
}

form.basic dl dd.icons {
	width: auto;
	float: none;
}

form.basic dd input[type="text"],
form.basic dd input[type="password"] {
	width: 70%;
}

form.basic dd textarea {
	width: 95%;
}

form.basic dd.footer {
	text-align: right;
}

form.basic dd label.error {
	display: block;
	color: red;
}

audio {
	width: 100%;
}

.latex.inline {
	padding: 0px 5px 0px;
	vertical-align: middle;
}

/* Entry Footnotes */

sup a {
	text-decoration: none;
}

/* Google Maps */

.google-map {
	width: 800px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

/* Page Navigation Bar */
.header {
	position: relative;
	color: white;
	
	font-size: 12pt;
	padding: 2pt;
}

.header ul.trail {
	padding: 2pt;
	margin: 0;
}

.header li {
	display: inline-block;
	list-style: none;
	line-height: 10pt;
}

.header a {
	color: white;
	text-decoration: none;
}

/* Filebox */

.filebox {
	position: relative;

	margin: auto;
	width: 608px;
	height: 192px;

	background-image: url("filebox.png");
}

.filebox .icon {
	position: absolute;

	width: 128px;
	height: 128px;

	left: 32px;
	top: 32px;
}

.filebox .text {
	position: absolute;

	left: 180px;
	top: 55px;

	color: #ccc;
	font-size: 11pt;
}

.filebox .text a {
	color: #ccf;
}

.filebox .text a.download {
	font-size: 14pt;
}

.filebox .text a:hover {
	color: white;
}

/* Blockquotes */

blockquote {
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	line-height: 2em;
}

blockquote .spoken:before {
	content: "“";
}
 
blockquote .spoken:after {
	content: "”";
}

blockquote .spoken:first-letter {
}

blockquote .spoken {
	color: #424242;
	letter-spacing: 0.1em;
	text-align: center;
	font-size: 14pt;
	font-variant: small-caps;
}

/* Features */

ul.features {
	list-style: none;
}

ul.features li {
	background-image: url("/_static/plus.png");
	padding-left: 32px;
	
	background-repeat: no-repeat;
	margin-bottom: 0.5em;
}

/* Translations header */

li.locale {
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 20px;
}

/* Resize the video based on the screen width: */
.youtube-video {
	width: 1920px;
	height: 1080px;
}

@media only screen and (max-width: 2020px) {
	.youtube-video {
		width: 1280px;
		height: 720px;
	}
}

@media only screen and (max-width: 1380px) {
	.youtube-video {
		width: 960px;
		height: 540px;
	}
}

@media only screen and (max-width: 1060px) {
	.youtube-video {
		width: 640px;
		height: 360px;
	}
}