
html {
	font-family: "PT Sans", Verdana, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size: 2.0vw;
}

@media (min-width: 30em) {
	html {
		font-size: 1.2vw;
	}
}

.bottom, .top {
	position: absolute;
	left: 0;
	right: 0;

	text-align: center;
}

.top {
	bottom: 50%;
	top: 0;
	
	background-color: white;
	box-shadow: 0 0 8px rgba(0, 0, 0, 1.0);
	z-index: 10;
}

.bottom {
	top: 50%;
	bottom: 0;

	background-color: #333;
	color: white;

	padding: 8pt;
	
	font-size: 1.5rem;
}

.bottom a {
	padding: 0 4pt;
}

h1 {
	position: absolute;
	left: 0;
	right: 0;

	font-size: 8vw;
	padding-right: 0.2em;
}

.top h1 {
	position: absolute;
	bottom: -5vw;

	color: #333;

	text-shadow: #aaa 0 0 5rem;
}

.bottom a {
	color: white;
}
