
html {
	font-family: "PT Sans", Verdana, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size: 2.0vw;
}

.bottom, .top {
	position: absolute;
	left: 0;
	right: 0;

	text-align: center;
}

.top {
	bottom: 50%;
	top: 0;
	
	background-color: #eee;
	color: #111;
	
	z-index: 10;
}

.bottom {
	top: 50%;
	bottom: 0;

	background-color: #111;
	color: #eee;

	padding: 8pt;
	
	font-size: 1.5rem;
}

.bottom a {
	padding: 0 4pt;
}

a {
	color: inherit;
}

a:hover {
	filter: brightness(150%);
}

h1 {
	position: absolute;
	left: 0;
	right: 0;

	font-size: 10vw;
}

.top h1 {
	position: absolute;
	bottom: -5vw;

	color: #333;

	text-shadow: #aaa 0 0 5rem;
}

