
pre {
	tab-size: 2;
	-moz-tab-size: 2;
	overflow: auto;
}

figure figcaption {
	text-align: center;
	color: #999;
	
	margin: 0;
	padding: 0;
}

main {
	padding: 1rem;
}

article, div#comments {
	max-width: 45em;
	margin-left: auto;
	margin-right: auto;
}

p, figure, dl, ul {
	margin: 1rem 0;
}

p {
	text-align: justify;
}

ul ul {
	margin: 0.5rem;
}

@media (min-width: 40em) {
	pre {
		tab-size: 4;
		-moz-tab-size: 4;
	}
	
	main {
		padding: 2rem;
	}
	
	p, figure, dl, ul {
		margin: 1rem;
	}
	
	p {
		text-align: left;
	}
}

body {
	background-color: #444;
	
	background-attachment: fixed;
	color: #000;
	
	font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	margin: 0;
}

p, pre, code {
	font-size: 12pt;
}

p.discussion {
	background-color: #cdc;
	padding: 1rem;
	
	border-radius: 1rem;
}

a {
	color: #3456ef;
	text-decoration: none;
}

main a {
	-border-bottom: solid 0.1rem rgba(0, 215, 226, 0.4);
}

main a:hover {
	color: #2345ef;
	-border-bottom: solid 0.1rem rgba(0, 245, 256, 0.4);
}

div.centered {
	text-align: center;
}

main {
	box-shadow: 0rem -0.125rem 0.5rem black;
	
	background-color: #fdfdfd;
}

main h1, main h2, main h3, main h4 {
	font-weight: normal;
	color: #222;
	text-shadow: 0.125rem 0.125rem 0.125rem #eee;
}

main h1 {
	margin-top: 0;
	font-size: 2.5rem;
}

main h2 {
	font-size: 1.5rem;
	
	margin: 6rem 0 2rem;
	
	color: #333;
	letter-spacing: 0.12rem;
}

main h3 {
	font-size: 1.25rem;
	margin: 6rem 0 2rem;
}

main h4 {
	font-size: 1rem;
	margin: 6rem 0 2rem;
}

main h2 + p, main h3 + p {
	margin-top: 0;
}

footer {
	clear: both;
	
	text-align: center;
	color: white;
	
	padding: 1.25rem;
}

footer a {
	color: white;
}

.navigation {
	font-size: 1rem;
	clear: both;
	
	margin: 1rem 0 1rem 0;
}

.logo {
	text-align: center;
}

.navigation .prev_link {
	float: left;
}

.navigation .next_link {
	float: right;
}

header {
	text-align: center;
	margin: 2rem 0 4rem 0;
	padding: 2rem 0.4rem;
	
	/*background-color: white;
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.05);*/
}

header .details {
	margin: 0 auto;
}

header h1 {
	margin-top: 0;
}

header strong {
	font-weight: normal;
	color: #00a;
}

header span {
	line-height: 2rem;
	margin: 1.25rem;
	white-space: nowrap;
}

li {
	margin: 0.25rem;
}

dl.basic dt {
	text-decoration: underline;
	padding-top: 0.25rem;
}

dl.basic dd {
	padding: 0.25rem;
}

dl.basic dt {
	margin-top: 1.5rem;
}

p, li, dt, dd {
	line-height: 1.5rem;
}

dl.options {
	padding-top: 0.5rem;
	margin: 0;
	
	/* background: rgba(230, 230, 230, 0.25);
	border: 0.0625rem solid #ccc; */
}

dl.options dt {
	color: #900;
	
	float: left;
	clear: both;
	
	width: 30%;
	text-align: right;
	
	padding: 0 0.5rem 0.5rem 0.5rem;
}

dl.options dd {
	margin: 0 0 0.5rem 32%;
	padding: 0 0.4rem;
}

dl.options dd + dd {
	margin-top: 0.5rem;
}

dl.options dd.container {
	border-left: 0.0625rem solid #ccc;
}

dl.options dd.container p {
	margin-top: 0;
	margin-bottom: 0;
}

#entry {
	padding-bottom: 5rem;
}

img {
	border: none;
}

.diagram {
	text-align: center;
}

table.basic {
	border-collapse: collapse;
	margin: auto;
	width: 90%;
}

table th {
	font-weight: inherit;
}

table.basic thead th, table.basic tfoot th {
	font-family: "Lucida Grande", Sans-Serif;
	font-size: 1.2rem;
	text-align: left;
	color: #003399;
}

table.basic thead th {
	border-bottom: 0.125rem solid #6678b2;
	padding: 0.625rem 0.5rem;
}

table.basic tfoot th {
	border-bottom: 0.125rem solid #6678b2;
	padding: 0.625rem 0.5rem;
}


table.basic tbody th,
table.basic tbody td {
	border: none;
	font-size: .9rem;
	padding: 0.5625rem 0.5rem 0rem 0.5rem;
	color: #666699
}

table.basic tbody th {
	text-align: left;
	text-decoration: underline;
	padding-top: 0.75rem;
}

table.basic tbody tr:hover td {
	color: #000;
	text-shadow: #aaa 0.0625rem 0.0625rem 0.125rem;
}

table.data th {
	background-color: #e0e0e0;
	padding: 0.25rem;
}

table.data {
	background-color: #fff;
	border: 0.0625rem solid black;
	
	margin: auto;
	text-align: center;
}

table.data td {
	padding: 0.25rem;
}

#comments .comment .byline {
	color: #333;
	font-size: 0.9rem;
	padding: 0.5rem 0.25rem;
	
	position: relative;
}

#comments .comment .moderation {
	text-align: center;
	padding: 0.3125rem;
}

#comments .comment .byline .posted_on {
	color: #999;
	float: right;
}

#comments .comment .byline .summary {
	margin-top: 1.75rem;
}

#comments .comment .icon {
	margin: 0rem 1.25rem 0.3125rem 0.625rem;
	float: left;
}

#comments .comment .body {
	margin: 0.125rem;
	border-top: 0.0625rem solid #ccc;
}

#comments .comment {
	/*background-color: white;
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.05);
	
	margin: 0.3125rem;
	padding: 0.3125rem;*/
}

form label {
	display: block;
	margin: 0.5rem 0;
}

form label input, form label textarea {
	display: block;
	margin: 0.5rem 0;
	padding: 0.5rem;
	
	font-size: 1rem;
}

form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

form fieldset.footer {
	text-align: right;
}

form#login fieldset input {
	max-width: 6rem;
}

form.basic input:not([type=button]):not([type=reset]):not([type=submit]) {
	width: 70%;
}

form.basic input:invalid,
form.basic textarea:invalid {
	background-color: #ffdddd;
}

form.basic textarea {
	box-sizing: border-box;
	width: 100%;
	
}

audio {
	width: 100%;
}

.latex.inline {
	padding: 0rem 0.3125rem 0rem;
	vertical-align: middle;
}

/* Entry Footnotes */

sup a {
	text-decoration: none;
}

/* Google Maps */

.google-map {
	width: 50rem;
	height: 37.5rem;
	margin-left: auto;
	margin-right: auto;
}

/* Page Navigation Bar */
nav {
	position: relative;
	color: white;
	
	display:inline-block;
	
	width:100%;
	white-space:nowrap;
	overflow:hidden;
}

nav ul.trail {
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	list-style: none;
}

nav a {
	color: white;
	text-decoration: none;
}

/* Filebox */

.filebox {
	position: relative;

	margin: auto;
	width: 38rem;
	height: 12rem;

	background-image: url("filebox.png");
}

.filebox .icon {
	position: absolute;

	width: 8rem;
	height: 8rem;

	left: 2rem;
	top: 2rem;
}

.filebox .text {
	position: absolute;

	left: 11.25rem;
	top: 3.4375rem;

	color: #ccc;
	font-size: 1.1rem;
}

.filebox .text a {
	color: #ccf;
}

.filebox .text a.download {
	font-size: 1.4rem;
}

.filebox .text a:hover {
	color: white;
}

/* Blockquotes */

.comment blockquote {
	border-left: 0.2rem solid grey;
}

blockquote .spoken:before {
	content: "“";
}
 
blockquote .spoken:after {
	content: "”";
}

blockquote .spoken:first-letter {
}

blockquote .spoken {
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	
	color: #424242;
	letter-spacing: 0.1rem;
	text-align: center;
	font-size: 1.4rem;
	font-variant: small-caps;
}

blockquote cite {
	display: block;
	font-style: normal;
	text-align: right;
}

blockquote cite:before {
	content: " — ";
}

/* Features */

ul.features {
	list-style: none;
}

ul.features li {
	background-image: url("/_static/plus.png");
	padding-left: 2rem;
	
	background-repeat: no-repeat;
	margin-bottom: 0.5rem;
}

/* Blog comments */

#comments h1 {
	margin-top: 8rem;
}

/* Translations header */

li.locale {
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 1.25rem;
}

/* Make youtube videos retain their 16:9 aspect ratio as they scale */
.youtube-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	height: 0;
	width 100%;
}

.youtube-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* end youtube video stuff */
