
html {
	font-family: "PT Sans", Verdana, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size: 2.0vw;
}

pre {
	tab-size: 2;
}

@media (min-width: 40em) {
	html {
		font-size: 1em;
	}
	
	pre {
		tab-size: 4;
	}
}

body {
	background-color: #333;
	
	background-attachment: fixed;
	color: #000;
	
	font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	margin: 0.5rem;
}

p {
	margin: 0.5rem 0.5rem;
}

a {
	color: #3456ef;
	text-decoration: none;
}

a:hover {
	color: #2345ef;
}

div.centered {
	text-align: center;
}

#content {
	box-shadow: 0rem -0.125rem 0.5rem black;
	
	background-color: #fdfdfd;
	margin: 0.5rem;
}

#content.normal {
	padding: 2rem;
}

#content h1, #content h2, #content h3, #content h4 {
	font-weight: normal;
	color: #222;
	text-shadow: 0.125rem 0.125rem 0.125rem #eee;
}

#content h1 {
	margin-top: 0;
	font-size: 2.5rem;
}

#content h2 {
	font-size: 1.5rem;
	
	padding: 0.5rem 0.8rem;
	margin: 6rem 0 2rem;
	
	color: #333;
	background-color: #eee;
	letter-spacing: 0.12rem;
	
	background-color: white;
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.05);
}

#content h3 {
	font-size: 1.4rem;
	margin-top: 4rem;
	margin-bottom: 0.8rem;

	border-bottom: 0.0625rem solid #ccc;
}

#content h4 {
	font-size: 1.3rem;
	margin-top: 4rem;
	margin-bottom: 0.8rem;
}

#content h2 + p, #content h3 + p {
	margin-top: 0;
}

#footer {
	clear: both;
	
	text-align: center;
	font-size: 0.6875rem;
	color: white;
	
	padding: 1.25rem;
}

#footer a {
	color: white;
}

.syntax-container {
	font-size: 90%;
}

.navigation {
	font-size: 1rem;
	clear: both;
	
	margin: 1rem 0 1rem 0;
}

.logo {
	text-align: center;
}

.navigation .prev_link {
	float: left;
}

.navigation .next_link {
	float: right;
}

.heading {
	text-align: center;
	margin: 2rem 0 4rem 0;
	padding: 2rem 0.4rem;
	
	background-color: white;
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.05);
}

.heading h1 {
	margin-top: 0;
}

.heading strong {
	font-weight: normal;
	color: #00a;
}

.heading small {
	margin: 1.25rem;
	white-space: nowrap;
}

dl.basic {
	padding: 0.3125rem;
}

li {
	margin: 0.25rem;
}

dl.basic dt {
	text-decoration: underline;
	padding-top: 0.25rem;
}

dl.basic dd {
	padding: 0.25rem;
}

p, dl.basic dt {
	margin-top: 1.5rem;
}

p, li, dt, dd {
	line-height: 160%;
}

dl.options {
	padding-top: 0.5rem;
	margin: 0;
	
	/* background: rgba(230, 230, 230, 0.25);
	border: 0.0625rem solid #ccc; */
}

dl.options dt {
	color: #900;
	
	float: left;
	clear: both;
	
	width: 30%;
	text-align: right;
	
	padding: 0 0.5rem 0.5rem 0.5rem;
}

dl.options dd {
	margin: 0 0 0.5rem 32%;
	padding: 0 0.4rem;
}

dl.options dd + dd {
	margin-top: 0.5rem;
}

dl.options dd.container {
	border-left: 0.0625rem solid #ccc;
}

dl.options dd.container p {
	margin-top: 0;
	margin-bottom: 0;
}

#entry {
	padding-bottom: 5rem;
}

img {
	border: none;
}

table.basic {
	border-collapse: collapse;
	margin: auto;
	width: 90%;
}

table th {
	font-weight: inherit;
}

table.basic thead th, table.basic tfoot th {
	font-family: "Lucida Grande", Sans-Serif;
	font-size: 1.2rem;
	text-align: left;
	color: #003399;
}

table.basic thead th {
	border-bottom: 0.125rem solid #6678b2;
	padding: 0.625rem 0.5rem;
}

table.basic tfoot th {
	border-bottom: 0.125rem solid #6678b2;
	padding: 0.625rem 0.5rem;
}


table.basic tbody th,
table.basic tbody td {
	border: none;
	font-size: .9rem;
	padding: 0.5625rem 0.5rem 0rem 0.5rem;
	color: #666699
}

table.basic tbody th {
	text-align: left;
	text-decoration: underline;
	padding-top: 0.75rem;
}

table.basic tbody tr:hover td {
	color: #000;
	text-shadow: #aaa 0.0625rem 0.0625rem 0.125rem;
}

table.data th {
	background-color: #e0e0e0;
	padding: 0.25rem;
}

table.data {
	background-color: #fff;
	border: 0.0625rem solid black;
	
	margin: auto;
	text-align: center;
}

table.data td {
	padding: 0.25rem;
}

code.basic {
	display: block;
}

pre {
	margin: 0.625rem;
	padding: 0.125rem;
	padding-left: 0.625rem;
	background-color: rgba(20, 20, 20, 0.05);
	color: #333;
	padding: 0.625rem;
	border-radius: 0.3125rem;
}

#comments form {
	background-color: white;
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.05);

	padding: 0.3125rem;
	margin: 0.3125rem;
}

#comments .comment .byline {
	color: #333;
	font-size: 0.9rem;
	padding: 0.5rem 0.25rem;
	
	position: relative;
}

#comments .comment .moderation {
	text-align: center;
	padding: 0.3125rem;
}

#comments .comment .byline .posted_on {
	color: #999;
	float: right;
}

#comments .comment .text {
	margin-top: 1.75rem;
}

#comments .comment .icon {
	margin: 0rem 1.25rem 0.3125rem 0.625rem;
	float: left;
}

#comments .comment .body {
	margin: 0.125rem;
	border-top: 0.0625rem solid #ccc;
}

#comments .comment, .about-me {
	background-color: white;
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.05);
	
	margin: 0.3125rem;
	padding: 0.3125rem;
}

form.basic dd.icons img {
	margin: 0.1875rem;
	width: 2rem;
	height: 2rem;
}

form.basic dd.icons {
	clear: both;
	text-align: center;
}

form.basic dd.icons .selected {
	border: 0.1875rem solid #FFCC00;
	margin: 0;
}

form.basic fieldset {
	margin: auto;
	border: none;
	font-size: 1.6rem;
	padding: 0.625rem;
}

form.basic dl {
	margin: 0rem;
}

form.basic dl dt,
form.basic dl dd {
	margin: 0rem;
	padding: 0rem;
	padding-top: 0.3125rem;
	padding-bottom: 0.625rem;
	line-height: 1.0rem;
}

form.basic dl dt {
	clear: both;
	font-size: 1.2rem;
	display: block;
	float: left;
	text-align: right;
	width: 28%;
}

form.basic dl dt {
	text-decoration: none;
}

form.basic dl dt label {
	-text-decoration: underline;
}

form.basic dl dt small {
	text-decoration: none;
	font-size: 0.8rem;
	display: block;
}

form.basic dl dd {
	float: right;
	width: 70%;
}

form.basic dl dd.icons {
	width: auto;
	float: none;
}

form.basic dd input[type="text"],
form.basic dd input[type="password"] {
	width: 70%;
}

form.basic dd textarea {
	width: 95%;
}

form.basic dd.footer {
	text-align: right;
}

form.basic dd label.error {
	display: block;
	color: red;
}

audio {
	width: 100%;
}

.latex.inline {
	padding: 0rem 0.3125rem 0rem;
	vertical-align: middle;
}

/* Entry Footnotes */

sup a {
	text-decoration: none;
}

/* Google Maps */

.google-map {
	width: 50rem;
	height: 37.5rem;
	margin-left: auto;
	margin-right: auto;
}

/* Page Navigation Bar */
.header {
	position: relative;
	color: white;
	
	font-size: 1.2rem;
	padding: 0.2rem;
}

.header ul.trail {
	padding: 0.2rem;
	margin: 0;
}

.header li {
	display: inline-block;
	list-style: none;
	line-height: 1rem;
}

.header a {
	color: white;
	text-decoration: none;
}

/* Filebox */

.filebox {
	position: relative;

	margin: auto;
	width: 38rem;
	height: 12rem;

	background-image: url("filebox.png");
}

.filebox .icon {
	position: absolute;

	width: 8rem;
	height: 8rem;

	left: 2rem;
	top: 2rem;
}

.filebox .text {
	position: absolute;

	left: 11.25rem;
	top: 3.4375rem;

	color: #ccc;
	font-size: 1.1rem;
}

.filebox .text a {
	color: #ccf;
}

.filebox .text a.download {
	font-size: 1.4rem;
}

.filebox .text a:hover {
	color: white;
}

/* Blockquotes */

blockquote {
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	line-height: 2rem;
}

blockquote .spoken:before {
	content: "“";
}
 
blockquote .spoken:after {
	content: "”";
}

blockquote .spoken:first-letter {
}

blockquote .spoken {
	color: #424242;
	letter-spacing: 0.1rem;
	text-align: center;
	font-size: 1.4rem;
	font-variant: small-caps;
}

/* Features */

ul.features {
	list-style: none;
}

ul.features li {
	background-image: url("/_static/plus.png");
	padding-left: 2rem;
	
	background-repeat: no-repeat;
	margin-bottom: 0.5rem;
}

/* Blog comments */

#comments h1 {
	margin-top: 8rem;
}

/* Translations header */

li.locale {
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 1.25rem;
}

/* Resize the video based on the screen width: */
.youtube-video {
	width: 120rem;
	height: 67.5rem;
}

@media only screen and (max-width: 126.25rem) {
	.youtube-video {
		width: 80rem;
		height: 45rem;
	}
}

@media only screen and (max-width: 86.25rem) {
	.youtube-video {
		width: 60rem;
		height: 33.75rem;
	}
}

@media only screen and (max-width: 66.25rem) {
	.youtube-video {
		width: 40rem;
		height: 22.5rem;
	}
}